 body{
    display: flex;
    background-color: rgb(60, 175, 220);
    justify-content: center;
     
}
.contaner{
     
    background-color: white;
    width: 400px;
height: 500px;
 margin-top: 40px;
 margin-bottom: 100px;
 position: fixed;
 text-align: center;
  padding-top: 30px;

 
}
.first-content{
      
    height: fit-content;
    width: fit-content;
     position: relative;
     left: 110px;
     padding-top: 5px;
     line-height: 30px;

}
.login-data{
    height: 300px;
    padding-left:20px;
     padding-top: 20px;
     /* background-color: rgb(26, 186, 226); */
}
.image{
    height: 100px;
    width: 100px;
    font-size: large;
    display: flex;
    background-color:  rgb(60, 175, 220);
     margin-left: 40px;
border-radius: 90px;
align-items: center;
justify-content: center;
}
 .logimage{
    display: flex;
    height: 50px;
    width: 350px;
     /* padding-left:20px; */
     margin-top: 15px;
    justify-content: center;
    /* background-color: blueviolet; */
    border-radius: 90px;
    border: 1px solid #cfcfcf;
 }
 .login-feature{
    padding-top: 10px;
    height: 50px;
    width: 350px;
 }
  .login-feature input,a{
     /* display: flex; */
    /* height: 50px;
    width: 350px; */
    /* border-radius: 90px; */
    /* background-color: blueviolet; */
     /* justify-content: space-evenly; */
    /* text-align: left; */
    padding-left: 100px;
    
  } 
  .logbtn{
    /* padding-left:20px; */
    margin-top: 15px;
     font-size: large;
    background-color:  rgb(60, 175, 220);
    color: white;
    height: 50px;
width: 350px;
    border-radius: 90px;
    border: none;
  }
